@import "tailwindcss";

@font-face {
  font-family: "ethnic";
  src: url("/fonts/Ethnic.ttf") format("ttf");
  src: url("/fonts/Ethnic.woff") format("woff");
  /* src: url("/fonts/Jorick-Regular.woff") format("woff"); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "trajan";
  src: url("/fonts/trajan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "trajan-bold";
  src: url("/fonts/trajan-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  scrollbar-width: none;
}